/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* стили калькулятора .стили функциональных кнопок и инпутов калькулятора*/
 
.priceСalculation {
	/*display: flex;*/
	flex-wrap: wrap;
	margin-top: 50px;
	color: #fff;
	background: #364754;
	padding: 10px;
	width: 1100px;
    box-sizing: border-box;
}

.priceСalculation > div{
	margin: 10px 10px;
	margin-left: 0;
}



.inline{
	display: inline-block;
	text-transform: uppercase;
	position: relative;
}

.widthExceeded, .glassWidthExceeded, .heightExceeded{
	position: absolute;
    text-transform: none;
    bottom: -20px;
    z-index: 50;
    right:  6px;
    color: red;
    font-size: 14px;
}

.cashOperations{
	display: flex;
	align-items: center;
}

.cashOperations > div{
	margin-right: 10px;
}

.priceСalculation > div  input, .priceСalculation select, .priceСalculation textarea{
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    /*opacity: 0.8;*/
    border: 1px solid black;
    cursor: pointer;
}

.priceСalculation textarea{
	min-width: 328px;
	max-width: 328px;
	min-height: 18px;
	height: 18px;
	max-height: 100px;
	margin-left: 0;
	margin-bottom: 20px;

}

div.productSelect{
	display: flex;
	align-items: center;
}

 .productSelect   select{
 	margin-right: 10px;

 }



 .productSelect select:first-child{
 	margin-left: 0;
 }

form.configurations > div{
	display: flex;
	align-items: center;
	margin-left: 0;
}

form.configurations p{
	margin-right: 5px;
	display: flex;
	align-items: flex-start;
}

.priceСalculation  input[type="radio"] 	{
	width: 15px;
	height: 15px;
	margin-top: 0;
}

.priceСalculation  input[type="submit"] 	{
    padding: 10px 50px;
    background: #fff;
/*    background: #3c4143;
	color: rgba(255,255,255, .5);*/
    
}

.priceСalculation  input[type="submit"]:first-child{
	margin-left: 0;

}

.priceСalculation  .priceProd{
	font-size: 18px;

}


.boxControlMethod{
	text-transform: uppercase;
	margin-left: 15px;
	
}

.boxMarkup{
	/*margin-left: 10px;*/
}

.add_remark{}

@media screen and (max-width: 1200px){

	.priceСalculation > div input {
	    width: 130px;
	}

	.priceСalculation input[type="submit"] {
	     padding: 10px 0; 
	}

	.screen_blank .width, .screen_blank .height, .screen_blank .control, .screen_blank .quantity {
	    width: 70px;
	}
}