.contact_information {
  padding: 30px 0;
}

.contact_information ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-left: 20px;
}

.contact_information li {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 3px solid #fcbf14;
}

.contact_information li:last-child {
  border-right: none;
}

.contact_information a {
  text-decoration: none;
  color: #364754;
}

.contact_information a:hover {
  color: #fcbf14;
}
