.customer_data_box{
    width: 1100px;
}

.customer_data{
	margin-top: 50px;
    background: #364754;
    padding: 20px 8px;
}

.customer_data  > ul{
	display: flex;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.customer_data  > ul:last-child{
    border-bottom: 0;
}

.customer_data  > ul li{
	/*margin-bottom: 5px;*/
}

.customer_data  > ul li:first-child{
	display: none;
}

.customer_data  > ul li:nth-child(2){
    min-width: 270px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 6px;
    flex: 1;
}

.customer_data  > ul li:nth-child(3){
    flex: 3;
    overflow:hidden;
}
.customer_data ul input {
    padding: 10px 20px;
    outline: none;
    border: none;
    margin-left: 5px;
    /*opacity: 0.8;*/
    cursor: pointer;
    width: 100%;
}

.customer_data ul input::placeholder{
    color: red;
}

.delivery_services{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.customer_data .delivery_services input{
    width: 200px;
}

.delivery_services select{
  padding: 10px 20px;
    outline: none;
    border: none;
    margin-left: 5px;
    /*opacity: 0.8;*/
    cursor: pointer;
    flex: 1;
}

.delivery_services_container{
    flex: 3;
}

.delivery_services_container > div{
    display: flex;
    justify-content: space-between;
}

.delivery_services span{
    color: #fff;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.customer_data .branch_number input, .customer_data .branch_cargo_number input{
    /*margin-bottom: 1px;*/
    border-bottom: 1px solid #4c5154;

}

